.about {
  max-width: 1400px;
  padding-top: 77px;
  padding-bottom: 76px;
  background-color: #f4f5f7;
}
.about_wrapper{
  margin: auto;
  max-width: 79vw;
  display: flex;
}
.what_about {
  flex: 1;
  /* width: 555px; */
  min-height: 102px;
  margin-right: 29px;
}
.for_whom {
  flex: 1;
  /* width: 555px; */
  min-height: 102px;
}
.about_text {
  font-weight: bold;
  font-size: 22px;
  line-height: 32px;
  text-align: left;
}
.about_text_description {
  font-size: 22px;
  line-height: 32px;
}
