.headline{
  width: 1140px;
  margin: auto;
  display: flex;
}
.main-text{
  position: relative;
  width: 754px;
  z-index: 1;
}
h1{
  font-weight: bold;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
  
}
.headline_text{
margin-top: 76px;
}
.headline_text_description{
  width: 456px;
  margin-top: 34px;
}
.description{
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.btn{
  width: 160px;
  height: 48px;
  border-radius: 2px;
  border: none;
  margin-top: 58px;
  margin-right: 10px;
  font-weight: bold;
  font-size: 18px;
  line-height: 13px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05), inset 0px 1px 0px rgba(255, 255, 255, 0.1);
}
.get_started{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #3040C4;
  color: #fff;
  
}
.learn_more{
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 1e-05) 100%), #FFFFFF;
  color: #3040C4;
}
.main-icon{
  position: absolute;
  left: 553px;
  margin-top: 84px;
}
.main-icon_image{
  min-width: 300px;
}
