.header{
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.logo_image{
  width: 60px;
  height: 60px;
  border-radius: 14px;
  margin-right: 15px;
}
.logo_text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
.logo_name{
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
.logo_description{
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  color: #2B292D;
  opacity: 0.6;
}
.navigation{
  margin: 7px 75px 0px auto;
}
.navigation_list{
  display: flex;
  list-style-type: none;
}
.navigation_list_item{
  text-decoration: none;
  color: #2B292D;
  font-size: 18px;
  line-height: 25px;
  margin-right: 50px;
}
.navigation_list_item:last-child{
  margin-right: 0px;
}
.navigation_arrow{
  background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 8px;
  height: 5px;
  margin-left: 5px;
}
.navigation_list_item_selected{
  font-weight: 700;
}
.header_button{
  width: 160px;
  height: 48px;
}