.headline {
  max-width: 88vw;
  margin: auto;
  display: flex;
}
.main-text {
  position: relative;
  max-width: 754px;
  z-index: 1;
}
h1 {
  font-weight: bold;
  font-size: 80px;
  line-height: 78px;
  letter-spacing: -0.5px;
}
.headline_text {
  margin-top: 76px;
}
.headline_text_description {
  width: 456px;
  margin-top: 34px;
}
.description {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;
}
.headlines_buttons_get_started {
  margin-top: 58px;
  margin-right: 10px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    ),
    #3040c4;
  color: #fff;
}
.headlines_buttons_learn_more {
  margin-top: 58px;
  background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 1e-5) 100%
    ),
    #ffffff;
  color: #3040c4;
}
.main-icon {
  position: absolute;
  left: 553px;
  margin-top: 84px;
}
.main-icon_image {
  max-width: 100%;
  /* min-width: 320px; */
}
