*{
  margin: 0;
}

.header{
  width: 100%;
  height: 40px;
  background-color: darkturquoise;
}
.navigation{
  height: 40px;
}
.nav-list{
  padding: 10px;
}
.nav-item{
  display: inline;
  color: white;
  margin-left: 16px;
}
.content{
  height: 5000px;
  background-color: beige;
}