*{
  box-sizing: border-box;
}
.text{
  position: absolute;
  margin: 16px;
  
}
.tooltip{
  position: relative;
  display: none;
  top:40px;
}
.text:hover .tooltip{
  position: relative;
  display: block;
  border-top: 1px dotted black;
  background-color: grey;
  color: white;
  padding: 8px;
  border-radius: 4px;
  
}