 *{
  box-sizing:border-box;
}
table{
  width: 500px;
  margin: 16px;
  border: 1px solid #000000;
  border-collapse: collapse;
}
thead{
  font-weight: 700;
  text-align: right;
}
td{
  border: 1px solid #000000;
  padding: 4px;
}
tr{
  text-align: right;
}